/**
 * panel.css
 */

.bookmark,.open,.link,.deq {
    text-decoration: none;
}
.heading {
    margin: 0;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row nowrap;
    justify-content: space-between;
}
.subtitle {
    padding: 6px 10px;
}
.bookmark,.open {
    background-color: #D8D8D8;
    padding: 6px 10px;
    margin-left: 10px;
    text-align: center;
}
.bookmark:hover {
    background-color: #00CC99;
}
.open:hover {
    background-color: #00CC99;
}
.item {
    margin: 0;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row nowrap;
    justify-content: flex-start;
}
.link,.deq {
    display: block;
}
.link:hover,.deq:hover {
    background-color: #00CC99;
}
.link {
    background-color: #99CCCC;
    width: 95%;
    margin: 5px;
    padding: 10px;

    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;

    flex-grow: 1;
}
.deq {
    background-color: #FF4D4D;
    border-left: 1px solid #888888;
    width: 5%;
    margin: 5px;
    padding: 10px;
    text-align: center;
    color: #000000;
}
