/**
 * panel.css
 */

.heading {
    font-family: "Brush Script MT", cursive;
}
.options,.link,.deq {
    text-decoration: none;
}
.options {
    padding: 6px 10px;
}
.options:hover {
    background-color: #00CC99;
}
.item {
    position: relative;
    width: 100%;
    height: 40px;
}
.link,.deq {
    position: absolute;
}
.link {
    background-color: #99CCCC;
    padding: 10px;
    left: 0;
    width: 90%;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.link:hover {
    background-color: #00CC99;
}
.deq {
    background-color: #C8C8C8;
    padding: 10px 0;
    right: 0;
    width: 7%;
    text-align: center;
    border-left: 1px solid #888888;
    color: #000000;
}
.deq:hover {
    background-color: #00CC99;
}