/**
 * wmPanel.css
 */

/*.save,.saveExit,.win,.remove {
    text-decoration: none;
}*/
.save:hover,.saveExit:hover,.label:hover,.remove:hover {
    background-color: #00CC99;
}
.heading {
    margin: 0;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row nowrap;
    justify-content: space-between;
}
.subtitle,.save,.saveExit {
    padding: 6px 10px;
}
.save,.saveExit {
    cursor: pointer;
    background-color: #D8D8D8;
    margin-left: 10px;
    text-align: center;
}

.list ul {
    list-style: none;
    cursor: pointer;

    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: 1px 20px;
}
.list .collapsed {
    background-image: url(./collapsed.png);
}
.list .expanded {
    background-image: url(./expanded.png);
}

.item {
    /*border: 1px solid #000000;*/

    margin: 0;
}
.win {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row nowrap;
    justify-content: flex-start;
}
.label,.remove,.link {
    margin: 0 5px;
    padding: 10px;
}
.label {
    background-color: #99CCCC;
    width: 95%;

    flex-grow: 1;

    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.remove {
    background-color: #FF4D4D;
    border-left: 1px solid #888888;
    width: 5%;
    
    text-align: center;
    color: #000000;
}
.link:hover {
    background-color: #E0FFFF;
}
