/**
 * wmPanel.css
 */

.flexbox-row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row nowrap;
}
.heading {
    /*margin: 0;*/

    justify-content: space-between;
}
.subtitle,.save,.exportAll {
    padding: 6px 10px;
}
.save,.exportAll {
    cursor: pointer;
    background-color: #D8D8D8;
    margin-left: 10px;
    text-align: center;
}

#list ul {
    list-style: none;
    cursor: pointer;

    padding-left: 0px;
    /*background-repeat: no-repeat;
    background-position: 5px 15px;*/
}
/*#list .collapsed {
    background-image: url(./img/collapsed.png);
}
#list .expanded {
    background-image: url(./img/expanded.png);
}*/

.item {
    /*border: 1px solid #000000;*/
    margin: 5px 0;
}
.label {
    flex-grow: 1;

    /*margin: 0 5px;*/
    padding: 10px;

    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.win,.link {
    justify-content: flex-start;

    background-color: #AFEEEE;
}
.circle {
    border: 1px solid;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
.toggleList {
    flex-shrink: 0;

    text-align: center;
    margin-left: 5px;
}
.remove {
    flex-shrink: 0;

    text-align: center;
    margin-right: 5px;
}
.open {
    flex-shrink: 0;

    border: 1px solid;
    padding: 4px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
}
.toggleMenu {
    flex-shrink: 0;

    text-align: center;
    margin-right: 5px;
}
.selected {
    background-color: #99CCCC;
}

.save:hover,.exportAll:hover,.win:hover,.remove:hover,.link:hover {
    background-color: #99CCCC;
}
.toggleList:hover,.open:hover,.toggleMenu:hover {
    background-color: #00CC99;
    border-color: #000000;
}
.remove:hover {
    background-color: #FF4D4D;
}