/**
 * wmPanel.css
 */

.save,.saveExit,.win,.remove {
    text-decoration: none;
}
.save:hover,.saveExit:hover,.win:hover,.remove:hover {
    background-color: #00CC99;
}
.heading {
    margin: 0;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row nowrap;
    justify-content: space-between;
}
.subtitle,.save,.saveExit {
    padding: 6px 10px;
}
.save,.saveExit {
    background-color: #D8D8D8;
    margin-left: 10px;
    text-align: center;
}

.list ul,li {
    list-style: none;
    cursor: pointer;
}
.list li {
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: 1px 20px;
}
.list .collapsed {
    background-image: url(./collapsed.png);
}
.list .expanded {
    background-image: url(./expanded.png);
}

.item {
    margin: 0;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row nowrap;
    justify-content: flex-start;
}
.win,.remove {
    margin: 5px;
    padding: 10px;
}
.win {
    background-color: #99CCCC;
    width: 95%;

    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;

    flex-grow: 1;
}
.link {
    margin-top: 5px;
    padding: 10px;
}
.link:hover {
    background-color: #E0FFFF;
}
.remove {
    background-color: #FF4D4D;
    border-left: 1px solid #888888;
    width: 5%;
    
    text-align: center;
    color: #000000;
}
