/**
 * panel.css
 */

.tab-item {
    justify-content: flex-start;

    cursor: pointer;
    background-color: #AFEEEE;
    margin: 5px;
}
.tab-link,.win-link {
    flex-grow: 1;

    padding: 5px 10px;
}
.tab-link > .url {
    font-size: 14px;
}
.win-item {
    cursor: pointer;
    list-style: none;
    margin: 5px;
    padding-left: 0;
    border-bottom: 1px solid;
}
.win-item > div, .win-item > li {
    border-bottom: 1px dotted;
}
.win,.win-link {
    justify-content: flex-start;

    background-color: #AFEEEE;
}
.win-label {
    flex-grow: 1;

    padding: 10px;

    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.win-link > .label {
    padding: 0 40px;
    font-size: 14px;
}
.win-link > .url {
    padding: 0 40px 0 40px;
    font-size: 12px;
}
.label {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.url {
    padding-top: 5px;
    opacity: 0.5;

    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.circle {
    border: 1px solid;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
.remove-tab {
    text-align: center;
    margin-right: 5px;
}
.toggle-list {
    flex-shrink: 0;

    text-align: center;
    margin-left: 5px;
}
.remove-win {
    flex-shrink: 0;

    text-align: center;
    margin-right: 5px;
}
.open-win {
    flex-shrink: 0;

    border: 1px solid;
    padding: 4px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
}
.toggle-menu {
    flex-shrink: 0;

    text-align: center;
    margin-right: 5px;
}
.selected {
    background-color: #99CCCC;
}
.warning {
    color: red;
    font-style: italic;
}

.tab-item:hover,.win:hover,.win-link:hover {
    background-color: #00CC99;
}
.toggle-list:hover,.open-win:hover,.toggle-menu:hover {
    background-color: #4682B4;
    border-color: #000000;
    color: #FFFFFF;
}
.remove-tab:hover,.remove-win:hover {
    background-color: #FF4D4D;
}