/**
 * panel.css
 */

.flexbox-row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row nowrap;
}

#heading {
    justify-content: space-between;
}
#subtitle {
    line-height: 34px;
}
.btn {
    cursor: pointer;
    background-color: #D8D8D8;
    text-align: center;

    border-bottom: 1px solid #5d5d5d;
    border-top: 1px solid #5d5d5d;
    border-right: 1px solid #5d5d5d;
    border-left: 1px solid #5d5d5d;
    line-height: 34px;
    padding: 0 35px;
}

.item {
    justify-content: flex-start;
}
.link,.deq {
    cursor: pointer;
    margin: 5px;
    padding: 10px;
}
.link {
    background-color: #AFEEEE;
    width: 95%;

    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;

    flex-grow: 1;
}
.deq {
    background-color: #FF4D4D;
    width: 5%;
    
    text-align: center;
    color: #000000;
}
.selected {
    background-color: #99CCCC;
}
.warning {
    color: red;
    font-style: italic;
}

.btn:hover,.link:hover,.deq:hover {
    background-color: #00CC99;
}