/**
 * wmPanel.css
 */

.flexbox-row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row nowrap;
}

#heading {
    justify-content: space-between;
}
#subtitle {
    line-height: 34px;
}
.btn {
    cursor: pointer;
    background-color: #D8D8D8;
    text-align: center;

    border-bottom: 1px solid #5d5d5d;
    border-top: 1px solid #5d5d5d;
    border-right: 1px solid #5d5d5d;
    border-left: 1px solid #5d5d5d;
    line-height: 34px;
    padding: 0 35px;
}

.item {
    cursor: pointer;
    list-style: none;
    padding-left: 0;
}
.label {
    flex-grow: 1;

    padding: 10px;

    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.win,.link {
    justify-content: flex-start;

    background-color: #AFEEEE;
}
.circle {
    border: 1px solid;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
.toggleList {
    flex-shrink: 0;

    text-align: center;
    margin-left: 5px;
}
.remove {
    flex-shrink: 0;

    text-align: center;
    margin-right: 5px;
}
.open {
    flex-shrink: 0;

    border: 1px solid;
    padding: 4px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
}
.toggleMenu {
    flex-shrink: 0;

    text-align: center;
    margin-right: 5px;
}
.selected {
    background-color: #99CCCC;
}
.warning {
    color: red;
    font-style: italic;
}

.btn:hover,.win:hover,.remove:hover,.link:hover {
    background-color: #99CCCC;
}
.toggleList:hover,.open:hover,.toggleMenu:hover {
    background-color: #00CC99;
    border-color: #000000;
}
.remove:hover {
    background-color: #FF4D4D;
}